<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Juegos</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Acme&family=Balsamiq+Sans:ital@1&family=Bree+Serif&family=Hind+Guntur&family=IBM+Plex+Mono&family=Lora:ital@1&family=Merienda&family=Mulish&family=Noto+Sans+JP&family=Oleo+Script&family=Viga&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../Yess-Conta/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/keyframes.css">
  <link rel="stylesheet" href="../css/banner.css">
  <link rel="stylesheet" href="../css/estilos.css">
  <link rel="stylesheet" href="../css/juegos.css">
  <script type="text/javascript" src="../Yess-Conta/js/jquery.min.js"></script>
  <script type="text/javascript" src="../Yess-Conta/js/bootstrap.min.js"></script>
</head>
<body>
  <header>
        <nav class="cont_navbar navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="../index.html">Finansistech</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link dec" href="../Yess-Conta/index.html" style="color: white;">Iniciar Sesión</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="conceptosB.html">Conceptos Básicos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="manuales.html">Manuales</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="conocenos.html">Acerca de<span class="sr-only">(current)</span></a>
      </li>
    </ul>
</nav>
    </header>
  <br><br>
<div class="col-md-12 titulo text-center">
          <h1 style="font-size: 50px;">JUEGOS</h1>
          <h5><i>(Los juegos son la forma más elevada de la investigación » Albert Einstein).</i></h5>
        </div>

<section class="container">
  <br>
  <div class="subtitulo text-center">
    <h3>Juegos para descargar</h3>
    <h6>Para movil (Android) y escritorio.</h6>
  </div>
    <div class="row">
      <div class="col-md-6">       
            <div class="bloque text-center">
              <div class="nombre_juego">
                <h2>Learning Accounting</h2><hr>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <img src="../img/j1.jpg" alt="app Learning Accounting" width="115">
                    <img src="../img/j2.jpg" alt="app Learning Accounting" width="115">
                  </div>
                  <div class="col-md-6">
                    <p>Juego que pone a prueba tus habilidades contables, contiene una serie de mini juegos (Memorama, Quiz y Wiki-Conceptos) que te darán momentos de entretenimiento además de incrementar o reforzar tus conocimientos básicos de contabilidad. </p>
                <a href="../apk/base.apk" download="Learning Accounting" class="btn-des">DESCARGAR</a>
                  </div> 
                </div>
             </div>     
      </div>
      <div class="col-md-6">       
            <div class="bloque text-center">
              <div class="nombre_juego">
                <h2>Conta-Kids</h2><hr>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <img src="../img/j3.jpg" alt="animal oso panda" width="115">
                    <img src="../img/j4.jpg" alt="animal oso panda" width="115">
                  </div>
                  <div class="col-md-6">
                    <p>Ideal para los niños, juego entretenido, dinámico, interactivo y educativo que fomenta el hábito del ahorro y sus beneficios, consiste en recolectar el máximo número de monedas, estas caerán consecutivamente y serán atrapadas en por el puerquito Piccolin</p>
                    <a href="../apk/null.apk" download="Conta-Kids" class="btn-des">DESCARGAR</a>
                  </div>
                </div>
            </div>      
      </div>
    </div>
    <div class="row">
      <!--<div class="col-md-3"></div>-->
      <div class="col-md-6">       
            <div class="bloque text-center">
              <div class="nombre_juego">
                <h2>Quanto</h2><hr>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <img src="../img/j5.jpg" alt="animal oso panda" width="115">
                    <img src="../img/j6.jpg" alt="animal oso panda" width="115">
                  </div>
                  <div class="col-md-6">
                    <p>A través de esta aplicación administrarás tus finanzas personales tienes una calculadora como herramienta y obtendrás al final del periodo un estado de cuenta, además conocerás en el momento que lo requieras los tipos de cambio en las divisas al consultar la página ligada a la app.   </p>
                    <a href="../apk/Quanto_otro.apk" download="Quanto" class="btn-des">DESCARGAR</a>
                  </div>
                </div>
            </div>      
      </div>
      <div class="col-md-6">
       <div class="bloque text-center">
              <div class="nombre_juego">
                <h2>Cont-Quiz</h2><hr>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <img src="../img/j7.jpg" alt="animal oso panda" width="115">
                    <img src="../img/j8.jpg" alt="animal oso panda" width="115">
                  </div>
                  <div class="col-md-6">
                    <p>Este juego consiste en una serie de preguntas con una sola respuesta correcta, existen 4 niveles con 5 preguntas cada uno, incrementado la dificultad al concluir cada nivel para avanzar al siguiente, se utilizan estrategias de retribución, otorgando puntos al usuario por cada nivel y pregunta lograda. </p>
                    <a href="https://drive.google.com/file/d/1mpc6ovIvBv1x27j_g2_LGidFKqw4YCZM/view?usp=sharing" download="Cont-Quiz" class="btn-des2">DESCARGAR - RAR</a>
                  </div>
                </div>
            </div>
    </div>
</section>

</body>
</html>