<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YESS CONTA (SISTEMA CONTABLE)</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Acme&family=Balsamiq+Sans:ital@1&family=Bree+Serif&family=Hind+Guntur&family=IBM+Plex+Mono&family=Lora:ital@1&family=Merienda&family=Mulish&family=Noto+Sans+JP&family=Oleo+Script&family=Viga&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../Yess-Conta/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/keyframes.css">
  <link rel="stylesheet" href="../css/banner.css">
  <link rel="stylesheet" href="../css/estilos.css">
  <link rel="stylesheet" href="../css/juegos.css">
  <script type="text/javascript" src="../Yess-Conta/js/jquery.min.js"></script>
  <script type="text/javascript" src="../Yess-Conta/js/bootstrap.min.js"></script>
</head>
<body>
  <header>
        <nav class="cont_navbar navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="../index.html">YESS CONTA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link dec" href="../Yess-Conta/index.html" style="color: white;">Iniciar Sesi칩n</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="conceptosB.html">Conceptos B치sicos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="manuales.html">Manuales</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="conocenos.html">Acerca de<span class="sr-only">(current)</span></a>
      </li>
    </ul>
</nav>
    </header>
  <br><br>
  <section class="container">
  <h1 class="titulo text-center">Manual M칩dulo Contable Yess Conta</h1>
  <div class="row">
      <div class="col-md-3">
      </div> 
      <div class="col-md-6">       
            <div class="bloque text-center">
              <div class="nombre_juego">
                
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <img src="../img/Manual.png" alt="app Learning Accounting" width="315">
                  
                    
                <a href="../apk/ManualMC.pdf" download="Manual M칩dulo Contable YESS CONTA" class="btn-des">DESCARGAR</a>
                  </div> 
                </div>
             </div>     
      </div>
    </section>
  </body>
  </html>